html {
  height: 100vh;
  background-image: url(/img/Фон\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container {
  height: 58px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  color: #fff;
  font-family: Ubuntu;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.header-logo:hover {
  color: #3cb878;
}

.icon-container {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.icon-container img:hover {
  fill: #3cb878;
}

.header-line {
  width: 1px;
  height: 19px;
  background-color: #fff;
}

.header-welcome-caption {
  color: #fff;
}

.header-welcome-caption p {
  color: #848484;
}

.header-welcome-caption a {
  text-decoration: none;
  color: #fff;
}

.header-welcome-caption a:hover {
  color: #3cb878;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

main {
  display: flex;
  align-items: center;
  height: 95vh;
}

.form-container {
  padding: 32px 0 32px 0;
  background-color: #fff;
  width: 444px;
  height: 584px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  display: flex;
}

.first-form-row {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.first-form-row a:hover {
  text-decoration: underline;
}

.green-square {
  position: absolute;
  display: flex;
  margin: 0;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}

.form-info {
  padding: 0 32px 0 32px;
}

.first-form-row p {
  margin: 0;
  color: #434343;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.first-form-row a {
  margin: 0;
  color: #3cb878;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
}

.sign-in-buttons {
  display: flex;
  height: 48px;
  justify-content: space-between;
  flex-direction: row;
}

.sign-in-buttons button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  width: 160px;
  height: 48px;
  border-radius: 5px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.sign-in-buttons img {
  margin: 0;
}

.button-line {
  margin: 0;
  width: 1px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.12);
}

.facebook {
  background-color: #305db8;
}

.facebook:hover {
  background-color: #022263;
}

.google {
  background-color: #df4a32;
}

.google:hover {
  background-color: #ab1f09;
}

.second-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0 10px 0;
}

.second-form-row p {
  color: #848484;
}

.form-line-2 {
  width: 152px;
  height: 1px;
  background-color: #f2f2f2;
}

.label-container form {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}

.label-container label {
  display: flex;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}

.label-container input {
  padding: 20px;
  border-radius: 4px;
  height: 44px;
  width: 320px;
}

.terms-and-conditions label {
  height: 20px;
  width: 320px;
  text-align: center;
  margin: 0;
  align-items: center;
}

.terms-and-conditions form {
  display: flex;
  flex-direction: column;
  height: 15px;
}

.terms-and-conditions input {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.terms-and-conditions a {
  text-decoration: none;
  color: #3cb878cc;
}

.terms-and-conditions a:hover {
  text-decoration: underline;
  color: #3cb878;
}

.create-button {
  width: 324px;
  height: 46px;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
  margin-top: 20px;
}

.create-button:hover {
  background-color: #3cb878;
}
